<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros</title>
    <!--Enlace externo al archivo proyecto-css-->
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">

    <!--Enlace para Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Estacion de juegos</h1>
        <h2>Nosotros</h2>
    </header>
    
    <section>    
        <nav>
            <ul class="padre-flex">
                <li><a href="../index.html" class="ningunDecorado">inicio</a></li>
                <li><a href="../views/productos.html" class="ningunDecorado">productos</a></li>
                <li><a href="../views/nosotros.html" class="ningunDecorado">nosotros</a></li>
                <li><a href="../views/historia.html" class="ningunDecorado">historia</a></li>
                <li><a href="../views/contacto.html" class="ningunDecorado">contacto</a></li>
            </ul>
        </nav>
    </section>


    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>

</body>
</html>