<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uncharted 4</title>
    <!--Enlace externo al archivo proyecto-css-->
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <!--Enlace para Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Estacion de juegos</h1>
    </header>
    

    <section>
        <nav class="menuFondoRojo">
            <ul class="padre-flex">
                <li class="menu"><a href="../index.html" class="ningunDecorado">inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">productos</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">contacto</a></li>
            </ul>
        </nav>
    </section>

    <section class="centrarTexto">
        <h2>Uncharted 4</h2>
        <h3>Precio: 4500$</h3>

        <img src="../img/uncharted4-3.jpg" alt="Uncharted">

        <article>
            Muchos años después de su última aventura, el cazafortunas jubilado, Nathan Drake, es obligado a regresar al mundo de ladrones. Con riesgos mucho más personales, Drake comienza un viaje por el mundo en busca de una conspiración histórica detrás de un tesoro de pirata legendario. Su mayor aventura pondrá a prueba sus límites físicos, su poder de decisión, y por último aquello que es capaz de sacrificar para salvar a las personas que ama.
            <br>
            Plataforma:PS4 Lanzamiento:10/5/2016 Editor:Sony Interactive Entertainment Género:Acción
        </article>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/hh5HV4iic1Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <section>
        <div>
            <nav >
                <ul class="cont">
                    <li class="boton"><a href="#" class="ningunDecorado">comprar</a></li>
                    <li class="boton"><a href="#" class="ningunDecorado">Agregar al Carrito</a></li>
                </ul>
            </nav>
        </div>
    </section>


    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>
</body>
</html>