<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Last of Us 2</title>
    <!--Enlace externo al archivo proyecto-css-->
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <!--Enlace para Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>Estacion de juegos</h1>
    </header>
    
    <section>
        <nav class="menuFondoRojo">
            <ul class="padre-flex">
                <li class="menu"><a href="../index.html" class="ningunDecorado">inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">productos</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">contacto</a></li>
            </ul>
        </nav>
    </section>

    
    <section class="centrarTexto">
        <h2>The Last of Us 2</h2>
        <h3>Precio: 4500$</h3>

        <img src="../img/tlou2-2.jpg" alt="tlou2-2">

        <article>
            The Last of Us 2 es un videojuego de acción y aventuras, con elementos de supervivencia, enmarcado en un mundo postapocalíptico donde habitan unos seres infectados. Al igual que la primera parte, esta continuación o Part II de The Last of Us busca hacerse fuerte en mecánicas jugables como la exploración o el combate con un fuerte elemento táctico, no sólo plantando cara a los zombies y criaturas de pesadilla de su mundo de infectados, sino también ofreciendo resistencia a los humanos... Peores en algunos casos que las más infernales de las criaturas.
            <br>
            Desarrollador: Naughty Dog Editor: Sony Género: Acción, Acción y aventura (Apocalíptico, Monstruos y Terror)  Jugadores:1 Soporta:PS4 Pro Lanzamiento: 19 de Junio de 2020 (Pegi: +18)
        </article>
  
        <iframe width="560" height="315" src="https://www.youtube.com/embed/TXl9GI1p_Os" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
    
    <section>
        <div>
            <nav >
                <ul class="cont">
                    <li class="boton"><a href="#" class="ningunDecorado">comprar</a></li>
                    <li class="boton"><a href="#" class="ningunDecorado">Agregar al Carrito</a></li>
                </ul>
            </nav>
        </div>
    </section>
    

    

    <footer id="tres">
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>
</body>
</html>