<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teclado Gamer Redragon</title>
    <!--Enlace externo al archivo proyecto-css-->
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <!--Enlace para Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Estacion de juegos</h1>
    </header>
    
        
    <section>
        <nav class="menuFondoRojo">
            <ul class="padre-flex">
                <li class="menu"><a href="../index.html" class="ningunDecorado">inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">productos</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">contacto</a></li>
            </ul>
        </nav>
    </section>

    <section class="centrarTexto">
        <h2>Teclado Gamer Redragon K530</h2>
        <h3>Precio: 7500$</h3>

        <img src="../img/teclado.jpg" alt="teclado">

        <article>
            Disfrutá de tus partidas en otro nivel con Redragon, marca reconocida que se especializa en brindar la mejor experiencia de juego al público gamer desde hace más de 20 años. Sus teclados se adaptan a todo tipo de jugadores y esto los convierten en un fiel reflejo de la alta gama y calidad que la compañía ofrece. Distinción a todo color. Su retroiluminación le da un toque diferente a tu equipo y resalta su composición cuando es utilizado en espacios poco iluminados.
        </article>
    </section>

    <section>
        <div>
            <nav >
                <ul class="cont">
                    <li class="boton"><a href="#" class="ningunDecorado">comprar</a></li>
                    <li class="boton"><a href="#" class="ningunDecorado">Agregar al Carrito</a></li>
                </ul>
            </nav>
        </div>
    </section>

    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>
</body>
</html>