<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consola PS4 Pro</title>
    <!--Enlace externo al archivo proyecto-css-->
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <!--Enlace para Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Estacion de juegos</h1>
    </header>
    
    <section>
        <nav class="menuFondoRojo">
            <ul class="padre-flex">
                <li class="menu"><a href="../index.html" class="ningunDecorado">inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">productos</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">contacto</a></li>
            </ul>
        </nav>
    </section>

    <section class="centrarTexto">
        <h2>Consola Play Station PRO</h2>
        <h3>Precio: 66000$</h3>

        <img src="../img/ps4pro1.jpg" alt="ps4pro">
        <img src="../img/ps4pro2.png" alt="ps4pro2">

        <article>
            Juegos y entretenimiento en un televisor 4K1: Disfruta de los juegos taquilleros más recientes de PS4 y exclusivas de PlayStation en sorprendente 4K desde la consola PS4 Pro en tu televisor 4K, y transmite tu entretenimiento favorito con increíble detalle visual desde los servicios compatibles con 4K.
            <br>
            Velocidad de cuadros más rápida: Aumenta tu inmersión en los juegos de PS4 con velocidades de cuadro mejoradas en una variedad de juegos mejorados para PS4 Pro, lo cual es posible gracias a la potencia adicional de la PS4 Pro.
            <br>
            El doble de la potencia de la PS4: La PS4 Pro cuenta con el doble de potencia de GPU que la PS4 estándar, lo cual te permite disfrutar de una increíble claridad de imagen, una jugabilidad más fluida y tiempos de carga más cortos en ciertos juegos mejorados para PS4 Pro2. 
            <br>
            Tecnología HDR :Disfruta de colores y detalles más vivos y realistas en cada parte de tu experiencia de juego cuando juegues juegos con HDR en un televisor compatible con HDR.
        </article>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/Cz8wCc36GDA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>

    <section>
        <div>
            <nav >
                <ul class="cont">
                    <li class="boton"><a href="#" class="ningunDecorado">comprar</a></li>
                    <li class="boton"><a href="#" class="ningunDecorado">Agregar al Carrito</a></li>
                </ul>
            </nav>
        </div>
    </section>


    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>
</body>
</html>