<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mouse Logitech G-series</title>
    <!--Enlace externo al archivo proyecto-css-->
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <!--Enlace para Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>Estacion de juegos</h1>
    </header>
    
    <section>
        <nav class="menuFondoRojo">
            <ul class="padre-flex">
                <li class="menu"><a href="../index.html" class="ningunDecorado">inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">productos</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">contacto</a></li>
            </ul>
        </nav>
    </section>

    <section class="centrarTexto">
        <h2>Mouse Logitech G502</h2>
        <h3>Precio: 9300$</h3>

        <img src="../img/mouse.jpg" alt="mouse">

        <article>
            Ahora puedes jugar con más rapidez y precisión con G502 LIGHTSPEED, dotado de conectividad inalámbrica superrápida de 1 ms. Un sensor HERO de próxima generación ofrece rendimiento de 16.000 dpi y eficiencia energética superiores, dándote hasta 60 horas de juego ininterrumpido. Once botones programables te ayudan a optimizar el juego con enlaces de teclas y macros personalizadas. Los botones principales tienen tensión de resorte metálico para una actuación rápida y precisa. Seis pesas personalizables te permiten configurar la sensación del ratón en la mano.
        </article>
    </section>

    <section>
        <div>
            <nav >
                <ul class="cont">
                    <li class="boton"><a href="#" class="ningunDecorado">comprar</a></li>
                    <li class="boton"><a href="#" class="ningunDecorado">Agregar al Carrito</a></li>
                </ul>
            </nav>
        </div>
    </section>


    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>
</body>
</html>