<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estacion de Juegos - Productos</title>
    <!--Enlace externo al archivo proyecto-css-->
    <link rel="stylesheet" href="../assets/css/proyecto-css.css">
    <!--Enlace para Google Fonts-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>

    <header>
        <meta name="description" content="En esta pagina es donde estan todos los productos de la tienda">
        <h1 class="titulo">Estacion de juegos</h1>
        <h2 class="textoGrande">Productos</h2>
    </header>
    
    <section>
        <nav class="menuFondoRojo">
            <ul class="padre-flex">
                <li class="menu"><a href="../index.html" class="ningunDecorado">inicio</a></li>
                <li class="menu"><a href="../views/productos.html" class="ningunDecorado">productos</a></li>
                <li class="menu"><a href="../views/contacto.html" class="ningunDecorado">contacto</a></li>
            </ul>
        </nav>
    </section>
    
    
    
    <!--BT-->
    <section class="d-flex flex-wrap justify-content-between">
        <div class="card mt-2" style="width: 15rem;">
            <img src="../img/the-last-of-us-part-II-ps4.png" alt="portadatlou2" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">The Last of Us 2</h5>
              <p class="card-text">Precio: $4500</p>
              <a href="../views/oferta1.html" class="btn btn-primary">Ver más</a>
            </div>
            </div>

          <div class="card mt-2" style="width: 15rem;">
            <img src="../img/Tapa-GTA-V.jpg" alt="gtavportada" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">GTV</h5>
              <p class="card-text">Precio:$4300</p>
              <a href="../views/oferta2.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>

          <div class="card mt-2" style="width: 15rem;">
            <img src="../img/uncharted-4-a-thiefs-end-ps4.jpg" alt="unchartedportada" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Uncharthed 4</h5>
              <p class="card-text">Precio: $4500</p>
              <a href="../views/oferta3.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>

          <div class="card mt-2" style="width: 15rem;">
            <img src="../img/fifa-21portada.jpeg" alt="fifaportada" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">FIFA 21</h5>
              <p class="card-text">Precio: $6300</p>
              <a href="../views/oferta4.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>

          <div class="card mt-2" style="width: 15rem;">
            <img src="../img/doometernalportada.jpg" alt="doomportada" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Doom Eternal</h5>
              <p class="card-text">Precio: $4500</p>
              <a href="../views/oferta5.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>

          <div class="card mt-2" style="width: 15rem;">
            <img src="../img/dualshock4.jpg" alt="dualshock4" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title">Dualshock4</h5>
              <p class="card-text">Precio: $8900</p>
              <a href="./prod2.html" class="btn btn-primary">Ver más</a>
            </div>
          </div>

            <div class="card mt-2" style="width: 15rem;">
                <img src="../img/gabinete.jpg" alt="gabinete" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">gabinete</h5>
                    <p class="card-text">Precio: $6000</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>

            <div class="card mt-2" style="width: 15rem;">
                <img src="../img/mouse.jpg" alt="doomportada" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Mouse</h5>
                  <p class="card-text">Precio: $9300</p>
                  <a href="./prod5.html" class="btn btn-primary">Ver más</a>
                </div>
            </div>

            <div class="card mt-2" style="width: 15rem;">
                <img src="../img/nintendoswitch.jpg" alt="switch" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Nintedo Switch</h5>
                    <p class="card-text">Precio: $66000</p>
                    <a href="#" class="btn btn-primary">Ver más</a>
                </div>
            </div>

            <div class="card mt-2" style="width: 15rem;">
                <img src="../img/ps4pro1.jpg" alt="ps4" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Dualshock4</h5>
                    <p class="card-text">Precio: $66000</p>
                    <a href="./prod1.html" class="btn btn-primary">Ver más</a>
                </div>
            </div>

            <div class="card mt-2" style="width: 15rem;">
                <img src="../img/teclado.jpg" alt="teclado" class="card-img-top">
                <div class="card-body">
                  <h5 class="card-title">Teclado Gamer Redragon K530</h5>
                  <p class="card-text">Precio: $7500</p>
                  <a href="./prod4.html" class="btn btn-primary">Ver más</a>
                </div>
              </div>

                <div class="card mt-2" style="width: 15rem;">
                    <img src="../img/monitor.webp" alt="monitor" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Monitor Curvo Samsumg led 24"</h5>
                        <p class="card-text">Precio: $25000</p>
                        <a href="./prod3.html" class="btn btn-primary">Ver más</a>
                    </div>
                </div>

                <div class="card mt-2" style="width: 15rem;">
                    <img src="../img/xboxonex.jpg" alt="xbox" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Xbox One X</h5>
                      <p class="card-text">Precio: $60000</p>
                      <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>

                <div class="card mt-2" style="width: 15rem;">
                    <img src="../img/Notebook-Celeron.webp" alt="doomportada" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Notebook Celeron</h5>
                        <p class="card-text">Precio: $52.999</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>

                <div class="card mt-2" style="width: 15rem;">
                    <img src="../img/Notebook-Lenovo.webp" alt="doomportada" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">Notebook Lenovo</h5>
                        <p class="card-text">Precio: $93.999</p>
                        <a href="#" class="btn btn-primary">Ver más</a>
                    </div>
                </div>
    </section>




    <footer>
        <a href="../index-proyecto-aguilar.html" class="ningunDecorado">inicio</a>
        <a href="../views/contacto.html" class="ningunDecorado">contacto</a>
        <p>copyright - 2021</p>
    </footer>

</body>
</html>